<html ng-app="advert">
<head>
    <title>SEL</title>
    <link type="text/css" rel="stylesheet" href="/style/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/style/bootstrap/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/style/common.css" />
    <link type="text/css" rel="stylesheet" href="/style/index.css" />
    <link type="text/css" rel="stylesheet" href="/style/user.css" />
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/jquery/jquery-1.9.0.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/Controllers/user.js"></script>
    <script src="/Controllers/advert.js"></script>
</head>
<body>
    <div class="header">
        <div class="user" ng-controller="UserCtrl">
            <div class="btn-group">
                <div class="user-avatar">
                    <img src='{{currentUser.Avatar}}' />
                </div>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{currentUser.Name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Ajouter</a></li>
                    <li><a href="#">Gestion</a></li>
                    <li class="divider"></li>
                    <li><a href="/Views/user.html">Configuration</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-controller="AdvertListCtrl">
        <div class="advert-header">
            <ul class="nav nav-pills">
                <li ng-repeat="category in categories"
                    data-ng-class="{'active': $index == selectedIndex}"
                    data-ng-click="$parent.search.type = category.Name; itemClicked($index)">
                    <a href="#">{{category.ShowName}}</a>
                </li>
            </ul>
        </div>
        <div class="advert-content" ng-controller="AdvertListCtrl">
            <div class="advert-item" ng-repeat="advert in adverts | filter:search">
                <div class="advert-item-image">
                    <img src="{{advert.image}}" />
                </div>
                <div class="advert-item-title">
                    {{advert.name}}
                </div>
                <div class="advert-item-description">
                    {{advert.description}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>