.button {
    cursor: pointer;
    padding: 5px 10px;
    background: #006400;
    color: white;
    float: left;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

    .button:hover {
        background: #b22222;
    }
